<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    
    <!-- Bean definitions go here -->
    <bean id="orderDao" class="com.sg.dao.OrderDaoFileImpl"/>
    
    <bean id="productDao" class="com.sg.dao.ProductDaoFileImpl"/>
    
    <bean id="stateDao" class="com.sg.dao.StateDaoFileImpl"/>
    
    <bean id="service" class="com.sg.service.ServiceFileImpl">
        <constructor-arg ref="orderDao"/>
        <constructor-arg ref="productDao"/>
        <constructor-arg ref="stateDao"/>
        <!-- 4th arg is the mode either production or training (Case insensitive) -->
        <constructor-arg value="training"/>
    </bean>
    
    <bean id="io" class="com.sg.view.UserIOConsoleImpl"/>
    
    <bean id="view" class="com.sg.view.View">
        <constructor-arg ref="io"/>
    </bean>
    
    <bean id="controller" class="com.sg.controller.Controller">
        <constructor-arg ref="view"/>
        <constructor-arg ref="service"/>
    </bean>
    
    <bean id="logging" class="com.sg.advice.LoggingAdvice">
        <constructor-arg value="exceptionLog.txt" />
        <constructor-arg value="actionLog.txt" />
    </bean>
    
    <aop:config>
        <aop:aspect ref="logging">
            <!-- track all errors thrown by service layer -->
            <aop:after-throwing method="createErrorLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.*(..))" throwing="error"/>
        </aop:aspect>
        <aop:aspect ref="logging">
            <!-- start and end of program -->
            <aop:before method="createActionLogEntry" pointcut="execution(* com.sg.controller.Controller.run(..))"/>
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.view.View.displayGoodbyMessage(..))"/>
            <!-- track all actions taken by user -->
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.getState(..))"/>
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.getProduct(..))"/>
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.createOrder(..))"/>
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.deleteOrder(..))"/>
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.save(..))"/>
            <aop:after-returning method="createActionLogEntry" pointcut="execution(* com.sg.service.ServiceFileImpl.getOrder(..))"/>
            <aop:before method="createActionLogEntry" pointcut="execution(* com.sg.view.View.editOrder(..))"/>
            <aop:after method="createActionLogEntry" pointcut="execution(* com.sg.view.View.editOrder(..))"/>
        </aop:aspect>
    </aop:config>
</beans>