/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2018, 8:14:51 PM
    Author     : Ben Norman
*/

body{
    border:1px solid black;
}
div{
    border:1px solid red;
}
a{
    border:1px solid green;
}